.faq-section {
    background-color: #ffffff;
    opacity: 1;
    background-image: linear-gradient(to right, #eeeeee, #eeeeee 12.5px, #ffffff 12.5px, #ffffff);
    background-size: 25px 100%;
    height: 350px;

}

.faq-right-side {
    box-shadow: 0px 1px 12px #a7a7a7;
    background-color: white;
    height: 300px;
    border-radius: 7px;
}

.faq-left-side {
    box-shadow: 0px 1px 12px #a7a7a7;
    background-color: white;
    height: 300px;
    border-radius: 7px;
}

.faq-left-side .tabs {
    border-radius: 5px; 
    overflow: hidden;
    /* box-shadow: 0px 1px 12px #a7a7a7; */
    /* background-color: orange; */
    
}

.faq-left-side .tab {
    color: white;
    overflow: hidden;
}

.faq-left-side .tab div p {
    padding: 7px;
}

.faq-left-side .lable-tab {
    padding: 19px;
    background-color: orange;
    font-weight: bold;
    /* width: 100%; */
    cursor: pointer;
    display: block;
}

.faq-left-side .lable-tab:hover {
    background-color: rgb(244, 160, 3);
}

.faq-left-side .lable-tab::after {
    content: '\276f';
    /* width: 16px;
    height: 16px; */
    float: left;
    transition: 0.5;
    padding: 2px 0 0 0;
}

.faq-left-side .tab-content {
    max-height: 0;
    transition: 0.5s ease;
}

.faq-left-side input {
    display: none;
}

.faq-left-side input:checked~.tab-content {
    min-height: 150px;
    background-color: #e9e9e9;
    color: rgb(48, 48, 48);
    padding: 5px;
    overflow: scroll;
}


.faq-left-side input:checked+.lable-tab::after {
    transform: rotate(-90deg);
    
}

.faq-section ul li {
    padding: 5px;
    font-size: 16px;
}

.faq-section ul {
    padding: 28px;

}

.faq-section ul li span {
    font-weight: bold;
    margin-left: 10px;
    color: orange;
}

.faq-section ul li p {
    font-size: 14px;
    margin-right: 37px;
    margin-top: 10px;
    color: rgb(139, 138, 138);
}

.p-23 {
    padding: 23px;
}

.v-a {
    vertical-align: -7px;
}